*src/code/YAAB_LPC2294_C++/.metadata/

/test/Goertzel/win/Goertzel/Debug/CL.read.1.tlog
/test/Goertzel/win/Goertzel/Debug/CL.write.1.tlog
/test/Goertzel/win/Goertzel/Debug/Goertzel.exe
/test/Goertzel/win/Goertzel/Debug/Goertzel.exe.intermediate.manifest
/test/Goertzel/win/Goertzel/Debug/Goertzel.ilk
/test/Goertzel/win/Goertzel/Debug/Goertzel.lastbuildstate
/test/Goertzel/win/Goertzel/Debug/Goertzel.log
/test/Goertzel/win/Goertzel/Debug/Goertzel.pdb
/test/Goertzel/win/Goertzel/Debug/cl.command.1.tlog
/test/Goertzel/win/Goertzel/Debug/goertzel.obj
/test/Goertzel/win/Goertzel/Debug/link.command.1.tlog
/test/Goertzel/win/Goertzel/Debug/link.read.1.tlog
/test/Goertzel/win/Goertzel/Debug/link.write.1.tlog
/test/Goertzel/win/Goertzel/Debug/mt.command.1.tlog
/test/Goertzel/win/Goertzel/Debug/mt.read.1.tlog
/test/Goertzel/win/Goertzel/Debug/mt.write.1.tlog
/test/Goertzel/win/Goertzel/Debug/program.obj
/test/Goertzel/win/Goertzel/Debug/vc100.idb
/test/Goertzel/win/Goertzel/Debug/vc100.pdb
/test/Goertzel/win/Goertzel/Goertzel.opensdf
/test/Goertzel/win/Goertzel/Goertzel.sdf
/test/Goertzel/win/Goertzel/Goertzel.suo
/test/Goertzel/win/Goertzel/Goertzel.vcxproj.filters
/test/Goertzel/win/Goertzel/Goertzel.vcxproj.user
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/BuildScriptCache/.crc
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/BuildScriptCache/.version
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/NamedArguments/.crc
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/NamedArguments/.version
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/NamedArguments/4/1071ff29.dat
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/ProjectModel/ProjectModel.dat
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/Resources/.crc
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/Resources/.version
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/SymbolCache.bin
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/TagPrefixes/.crc
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/TagPrefixes/.version
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/TodoCache/.crc
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/TodoCache/.version
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/WebsiteFileReferences/.crc
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/WebsiteFileReferences/.version
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/WordIndex/.crc
/test/Goertzel/win/Goertzel/_ReSharper.Goertzel/WordIndex/.version
/test/Goertzel/win/Goertzel/ipch
/utils/GoertzelEvaluater/Properties/AssemblyInfo.cs
/utils/GoertzelEvaluater/_ReSharper.GoertzelEvaluater/ModuleIds.xml
/utils/GoertzelEvaluater/_ReSharper.GoertzelEvaluater/TagPrefixes/.crc
*.crc
*.dat
*.exe
*.version
*.cache
*.manifest
*.pdb
*.bin
*.tlog
*.opensdf
*.log
*.obj
*.ilk
*.idb
*.sdf
*.user
*.filters
*.ipch
_ReSharper.Goertzel
Debug
Release
obj
bin


/test/GoertzelController/GoertzelController/GoertzelController.suo